.listItem {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.listItemSingle {
  display: grid;
  row-gap: 10px;
  border-bottom: 1px solid #bbbbbb;

  span {
    font-style: italic;
  }
}

.listItemPrice {
  color: #6f6335;
  font-weight: bold;
  font-size: 18px;

  @media (max-width: 320px) {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .listItem {
    grid-template-columns: 1fr;
    box-shadow: 3px 3px 11px 9px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
  }
  .listItemSingle {
    text-align: center;
    border: none !important;
  }
}

@media (max-width: 320px) {
  .listItem {
    row-gap: 10px
  }
}
