.button {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding: 7px 35px;
  border-radius: 20px;
  border: none;
  background-color: lighten(#6f6335, 35%);
  -webkit-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 10px 10px 8px 0px rgba(34, 60, 80, 0.2);
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  transition: background-color .3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #b09634;
  }
}

.cartNumbers {
  background-color: chocolate;
  padding: 3px 15px;
  border-radius: 10px;
}

.anima {
  animation: anima 300ms ease-out;
}

@keyframes anima {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .button {
    column-gap: 20px;
    padding: 4px 20px;
  }
}

@media (max-width: 480px) {
  .button {
    column-gap: 10px;
    padding: 4px 14px;
  }
}