.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #6f6335;
  height: 5rem;
  width: 100%;
  padding: 0 10%;
  z-index: 10;
  color: #ffffff;
}

.image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;

  img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-7deg) translateY(-2rem) translateX(5rem);
  }
}

@media (max-width: 768px) {
  .header {
    h1 {
      font-size: 24px;
    }
  }
  .image {
    img {
      transform: rotateZ(0deg) translateY(0rem) translateX(0rem);
    }
  }
}

@media (max-width: 480px) {
  .header {
    h1 {
      font-size: 18px;
    }
  }
  .image {
    img {
      transform: rotateZ(0deg) translateY(0rem) translateX(0rem);
    }
  }
}

@media (max-width: 320px) {
  .header {
    flex-direction: column;
    padding: 5px 10%;
  }
}

