.button {
  border: none;
  background-color: #6f6335;
  padding: 7px 10px;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: lighten(#6f6335, 5%);
  }

  &:active {
    transform: translateY(3px);
  }
}

.closeButton {
  background-color: transparent;
  border: 1px solid #6f6335;
  color: #6f6335;

  &:hover {
    background-color: transparent;
    color: darken(#6f6335, 10%);
  }
}

@media (max-width: 768px) {
  .button {
    height: 8vh;
  }
}