.card {
  padding: 10px 20px;
  -webkit-box-shadow: 2px 7px 20px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 7px 20px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 7px 20px 12px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .card {
    padding: 10px;
  }
}